# Supply Chain Data Cleaning & Analysis

## Importing Necessary Libraries

In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(r'C:\Users\USER\Desktop\Data Analyst\Data Co Supply Chain Dataset.csv', encoding='latin-1')

In [7]:
df.shape

(180519, 53)

In [9]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [11]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

## Data Cleaning Process

In [14]:
# standardize column names to snake_case
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [16]:
df.columns

Index(['type', 'days_for_shipping_real', 'days_for_shipment_scheduled',
       'benefit_per_order', 'sales_per_customer', 'delivery_status',
       'late_delivery_risk', 'category_id', 'category_name', 'customer_city',
       'customer_country', 'customer_email', 'customer_fname', 'customer_id',
       'customer_lname', 'customer_password', 'customer_segment',
       'customer_state', 'customer_street', 'customer_zipcode',
       'department_id', 'department_name', 'latitude', 'longitude', 'market',
       'order_city', 'order_country', 'order_customer_id',
       'order_date_dateorders', 'order_id', 'order_item_cardprod_id',
       'order_item_discount', 'order_item_discount_rate', 'order_item_id',
       'order_item_product_price', 'order_item_profit_ratio',
       'order_item_quantity', 'sales', 'order_item_total',
       'order_profit_per_order', 'order_region', 'order_state', 'order_status',
       'order_zipcode', 'product_card_id', 'product_category_id',
       'product_description', 'product_image', 'product_name', 'product_price',
       'product_status', 'shipping_date_dateorders', 'shipping_mode'],
      dtype='object')

### Remove Unnecessary Columns

In [20]:
columns_to_drop = [
    # sensitive customer information
    'customer_email', 'customer_password', 'customer_street', 'customer_fname', 'customer_lname',
    
    # redundant geographic info
    'customer_city', 'customer_zipcode', 'order_zipcode', 'order_city',
    
    # redundant IDs
    'category_id', 'product_category_id', 'department_id', 'order_item_cardprod_id', 'product_card_id',
    
    # technical/system fields
    'product_status', 'product_description', 'product_image',
    
    # fields not needed for our KPIs
    'type', 'order_customer_id', 'order_item_discount_rate', 'order_item_id', 
    'order_item_profit_ratio', 'order_profit_per_order', 'order_region', 'order_state',
    'order_item_product_price'  # Added this since we removed it from financial_cols
]

df = df.drop(columns_to_drop, axis=1)

In [24]:
df.dtypes

days_for_shipping_real           int64
days_for_shipment_scheduled      int64
benefit_per_order              float64
sales_per_customer             float64
delivery_status                 object
late_delivery_risk               int64
category_name                   object
customer_country                object
customer_id                      int64
customer_segment                object
customer_state                  object
department_name                 object
latitude                       float64
longitude                      float64
market                          object
order_country                   object
order_date_dateorders           object
order_id                         int64
order_item_discount            float64
order_item_quantity              int64
sales                          float64
order_item_total               float64
order_status                    object
product_name                    object
product_price                  float64
shipping_date_dateorders        object
shipping_mode                   object
dtype: object

### Handle Dates & Data Types

In [27]:
df['order_date_dateorders'] = pd.to_datetime(df['order_date_dateorders'])
df['shipping_date_dateorders'] = pd.to_datetime(df['shipping_date_dateorders'])

### Data Quality Checks

In [36]:
df.isnull().sum()

days_for_shipping_real         0
days_for_shipment_scheduled    0
benefit_per_order              0
sales_per_customer             0
delivery_status                0
late_delivery_risk             0
category_name                  0
customer_country               0
customer_id                    0
customer_segment               0
customer_state                 0
department_name                0
latitude                       0
longitude                      0
market                         0
order_country                  0
order_date_dateorders          0
order_id                       0
order_item_discount            0
order_item_quantity            0
sales                          0
order_item_total               0
order_status                   0
product_name                   0
product_price                  0
shipping_date_dateorders       0
shipping_mode                  0
dtype: int64

In [38]:
df.duplicated().sum()

0

### Standardize Categorical Values

In [41]:
# fix country names
df['customer_country'] = df['customer_country'].replace({'EE. UU.': 'USA'})

country_corrections = {
    'Estados Unidos': 'USA',
    'República Democrática del Congo': 'Democratic Republic of Congo',
    'Marruecos': 'Morocco',
    'Países Bajos': 'Netherlands',
    'República Dominicana': 'Dominican Republic',
    'Sudán': 'Sudan',
    'Costa de Marfil': 'Ivory Coast',
    'Egipto': 'Egypt',
    'España': 'Spain',
    'Suecia': 'Sweden',
    'Argelia': 'Algeria',
    'Níger': 'Niger',
    'SudAfrica': 'South Africa',
    'Ruanda': 'Rwanda',
    'Nueva Zelanda': 'New Zealand',
    'Bangladés': 'Bangladesh',
    'Tailandia': 'Thailand',
    'Irak': 'Iraq',
    'Arabia Saudí': 'Saudi Arabia',
    'Filipinas': 'Philippines',
    'Kazajistán': 'Kazakhstan',
    'Irán': 'Iran',
    'Myanmar (Birmania)': 'Myanmar',
    'Uzbekistán': 'Uzbekistan',
    'Benín': 'Benin',
    'Camerún': 'Cameroon',
    'Kenia': 'Kenya',
    'Ucrania': 'Ukraine',
    'Polonia': 'Poland',
    'Rumania': 'Romania',
    'Afganistán': 'Afghanistan',
    'Pakistán': 'Pakistan',
    'Malasia': 'Malaysia',
    'Finlandia': 'Finland',
    'Rusia': 'Russia',
    'Irlanda': 'Ireland',
    'Noruega': 'Norway',
    'Eslovaquia': 'Slovakia',
    'Bélgica': 'Belgium',
    'Etiopía': 'Ethiopia',
    'Kirguistán': 'Kyrgyzstan',
    'Emiratos Árabes Unidos': 'United Arab Emirates',
    'Camboya': 'Cambodia',
    'Lituania': 'Lithuania',
    'Suiza': 'Switzerland',
    'Hungría': 'Hungary',
    'Dinamarca': 'Denmark',
    'Haití': 'Haiti',
    'Bielorrusia': 'Belarus',
    'Croacia': 'Croatia',
    'Baréin': 'Bahrain',
    'Macedonia': 'North Macedonia',
    'República Checa': 'Czech Republic',
    'Sri Lanka': 'Sri Lanka',
    'Zimbabue': 'Zimbabwe',
    'Tayikistán': 'Tajikistan',
    'Siria': 'Syria',
    'Azerbaiyán': 'Azerbaijan',
    'Turkmenistán': 'Turkmenistan',
    'Jordania': 'Jordan',
    'Moldavia': 'Moldova',
    'República del Congo': 'Republic of Congo',
    'Bosnia y Herzegovina': 'Bosnia and Herzegovina',
    'Omán': 'Oman',
    'Túnez': 'Tunisia',
    'Sierra Leona': 'Sierra Leone',
    'Yibuti': 'Djibouti',
    'Gabón': 'Gabon',
    'Sudán del Sur': 'South Sudan',
    'Luxemburgo': 'Luxembourg',
    'Grecia': 'Greece',
    'Suazilandia': 'Eswatini',
    'República Centroafricana': 'Central African Republic',
    'Taiwán': 'Taiwan',
    'Estonia': 'Estonia',
    'Líbano': 'Lebanon',
    'Chipre': 'Cyprus',
    'Surinam': 'Suriname',
    'Belice': 'Belize',
    'Eslovenia': 'Slovenia',
    'Botsuana': 'Botswana',
    'Guinea Ecuatorial': 'Equatorial Guinea',
    'Bután': 'Bhutan',
    'Serbia': 'Serbia',
    'Sáhara Occidental': 'Western Sahara'
}

df['order_country'] = df['order_country'].replace(country_corrections)

### Handle Data Quality Issues

In [44]:
(df['benefit_per_order'] < -1000).sum()

76

In [46]:
df = df[df['benefit_per_order'] >= -1000]

In [48]:
# round financial columns
financial_cols = ['benefit_per_order', 'sales_per_customer', 'sales', 'order_item_discount']
df[financial_cols] = df[financial_cols].round(2)

## Export Cleaned Data

In [51]:
cleaned_df = df.copy()
cleaned_df.to_csv('supply_chain_analysis_cleaned.csv', index=False, encoding='utf-8-sig')